*.pyc
*~
/virtualenv
/documentation.html
/daedalus_web_backend.sqlite
/daedalus_web_frontend.sqlite
/.settings
/daedalus.sqlite
/src/daedalus_local_settings.py
/daedalus-*.tgz
/src-client/dist
/src-client/build
/dev-scripts/_centos-reset-kvm-test-vm.sh
/dev-scripts/_centos-start-kvm-test-vm.sh
/dev-scripts/cluster/
/dev-scripts/fab-centos.sh
/dev-scripts/fab-ubuntu.sh
/dev-scripts/github.css
/dev-scripts/mkreadme.sh
/dev-scripts/reset-ubuntu-vm-and-run-install-on-ubuntu.sh
/dev-scripts/reset-ubuntu-vm.sh
/dev-scripts/rsync-from-ubuntu-vm.sh
/dev-scripts/rsync-to-ubuntu-vm.sh
/dev-scripts/rsync/
/dist
