*.pyc
*~
/virtualenv
/documentation.html
/daedalus_web_backend.sqlite
/daedalus_web_frontend.sqlite
/web/frontend/static/twitter-bootstrap-ebc6935
/.settings
/daedalus.sqlite
/src/daedalus_local_settings.py
/apache-cassandra-*.tar.gz
/daedalus-*.tgz
/rsync
/rsync-to-ubuntu-vm.sh
/rsync-from-ubuntu-vm.sh
/reset-ubuntu-vm.sh
/reset-ubuntu-vm-and-run-install-on-ubuntu.sh
/mkreadme.sh
/github.css
/fab-ubuntu.sh
/fab-centos.sh
/_centos-reset-kvm-test-vm.sh
/_centos-start-kvm-test-vm.sh
/cluster
