<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Daedalus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}daedalus/frontend/bootstrap-2.0.4/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}daedalus/frontend/bootstrap-2.0.4/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}daedalus/frontend/bootstrap-2.0.4/ico/favicon.ico">
	<script type="text/javascript">
	{% block extra_js %}
	{% endblock extra_js %}
	</script>
	<style type="text/css">
	{% block extra_css %}
	{% endblock extra_css %}
	</style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

        <div class="navbar navbar-fixed-top">

		<!--  style="margin-left: 0px;" hace q' 'Daedalus' no se vea pegado al lado izq. del body -->
		<a class="brand" style="margin-left: 0px;" href="{% url daedalus.frontend.views.home %}">Daedalus</a>

          <ul class="nav">

				<li class="divider-vertical"></li>
				<li><a href="{% url daedalus.frontend.views.home %}">All</a></li>
				<li><a href="{% url daedalus.frontend.views.status %}">Status</a></li>
				<li><a href="{% url daedalus.frontend.views.charts %}">Charts</a></li>
				<li><a href="{% url daedalus.frontend.views.reset_cache %}">Reset</a></li>
				<li class="divider-vertical"></li>
				<li><a href="{% url daedalus.frontend.views.search_by_severity 'ERROR' %}">Error ({{ error_count }})</a></li>
				<li><a href="{% url daedalus.frontend.views.search_by_severity 'WARN' %}">Warn ({{ warn_count }})</a></li>
				<li><a href="{% url daedalus.frontend.views.search_by_severity 'INFO' %}">Info ({{ info_count }})</a></li>
				<li><a href="{% url daedalus.frontend.views.search_by_severity 'DEBUG' %}">Debug ({{ debug_count }})</a></li>

					{% if app_list %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> By App. <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% for app in app_list %}
									<li><a href="{% url daedalus.frontend.views.search_by_application app %}">{{ app }}</a></li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}

					{% if app_list %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> By Host <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% for host in host_list %}
									<li><a href="{% url daedalus.frontend.views.search_by_host host %}">{{ host }}</a></li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}

		</ul>

		{% block extra_navbar %}
		{% endblock extra_navbar %}

		</div>
        </div>
      </div>
    </div>

	<div class="container">
    {% block errors %}
    	{% for msg in render_messages %}
    		<div class="alert alert-error">
    			{{ msg }}
    		</div>
    	{% endfor %}
    {% endblock errors %}

    {% block container %}
      <h1>Contents here!</h1>
      <p>Use this document as a way to quick start any new project.<br>
      All you get is this message and a barebones HTML document.</p>
	{% endblock container %}
    </div> <!-- /container -->
    <div style="text-align: center;">
    	<a href="http://www.python.org" target="_blank"><img
    		src="http://www.python.org/community/logos/python-powered-w-70x28.png"
    		border="0" alt="Powered By Python" title="Powered By Python" /></a>
    	<a href="http://cassandra.apache.org/" target="_blank"><img
    		src="{{ STATIC_URL }}daedalus/frontend/powered_by_cassandra.jpg" border="0" alt="Powered By Cassandra"/></a>
    	<a href="http://www.djangoproject.com/" target="_blank"><img
    		src="https://www.djangoproject.com/m/img/badges/djangoproject120x25.gif"
    		border="0" alt="A Django project" title="A Django project" /></a>
    </div>
    <div style="text-align: center;">
    	Copyright &copy; 2012 Horacio G. de Oro - 
    	<em>It is {% now "DATETIME_FORMAT" %}
    		with timezone: '{% now "e" %}'</em>
    </div>
    <script src="{{ STATIC_URL }}daedalus/frontend/bootstrap-2.0.4/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}daedalus/frontend/bootstrap-2.0.4/js/bootstrap.js"></script>
	{% block extra_js_bottom %}
	{% endblock extra_js_bottom %}
  </body>
</html>
