{% extends "daedalus/frontend/base.html" %}{% load frontend_helpers %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

	{% block extra_js_bottom %}
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Hour', 'Messages received'],
	          {% for data_item in charts_data %}
	          	['{{data_item.0|date:"H:i"}}', {{data_item.2}}]{% if not forloop.last %},{%endif %}
	          {% endfor %}
	        ]);

	        var options = {
	          title: 'Messages received',
	          hAxis: {title: 'Hour',  titleTextStyle: {color: 'red'}}
	        };

	        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	      }
	    </script>
	{% endblock extra_js_bottom %}

	{% block extra_js %}
	{% endblock extra_js %}

	{% block extra_css %}
	{% endblock extra_css %}
</head>
<body>

	{% block extra_navbar %}
	{% endblock extra_navbar %}

	{% block container %}

	<div>
		<ul class="nav nav-pills">
			<li class="{% if chart_id == '6hs' %}active{% endif %}">
				<a href="{% url hgdeoro.daedalus.web.frontend.views.charts '6hs' %}">6 hs</a>
			</li>
			<li class="{% if chart_id == '24hs' %}active{% endif %}">
				<a href="{% url hgdeoro.daedalus.web.frontend.views.charts '24hs' %}">24 hs</a>
			</li>
			<li class="{% if chart_id == '48hs' %}active{% endif %}">
				<a href="{% url hgdeoro.daedalus.web.frontend.views.charts '48hs' %}">48 hs</a>
			</li>
			<li class="{% if chart_id == '7d' %}active{% endif %}">
				<a href="{% url hgdeoro.daedalus.web.frontend.views.charts '7d' %}">7 days</a>
			</li>
		</ul>
	</div>

	<div id="chart_div" style="width: 900px; height: 500px;"></div>
	<hr />

	{% endblock container %}

</body>
</html>
