<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lolog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}bootstrap-2.0.4/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap-2.0.4/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap-2.0.4/ico/favicon.ico">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <!--
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          -->
          <a class="brand" href="#">Lolog</a>
          <div class="nav-collapse">

			{% block extra_navbar %}

				<a class="btn btn-mini btn-inverse"
					href="{% url hgdeoro.lolog.web.frontend.views.home %}">All</a>
				<a class="btn btn-mini btn-inverse"
					href="{% url hgdeoro.lolog.web.frontend.views.status %}">Status</a>

				&nbsp; | &nbsp; <!-- .............................. -->

				<a class="btn btn-mini btn-danger"
					href="{% url hgdeoro.lolog.web.frontend.views.search_by_severity 'ERROR' %}">E ({{ error_count }})</a>
				<a class="btn btn-mini btn-warning"
					href="{% url hgdeoro.lolog.web.frontend.views.search_by_severity 'WARN' %}">W ({{ warn_count }})</a>
				<a class="btn btn-mini btn-info"
					href="{% url hgdeoro.lolog.web.frontend.views.search_by_severity 'INFO' %}">I ({{ info_count }})</a>
				<a class="btn btn-mini"
					href="{% url hgdeoro.lolog.web.frontend.views.search_by_severity 'DEBUG' %}">D ({{ debug_count }})</a>

				&nbsp; | &nbsp; <!-- .............................. -->

				{% for app in app_list %}
					<a class="btn btn-mini btn-success"
						href="{% url hgdeoro.lolog.web.frontend.views.search_by_application app %}">{{ app }}</a>
				{% endfor %}

			{% endblock extra_navbar %}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% block errors %}
    	{% for msg in render_messages %}
    		<div class="alert alert-error">
    			{{ msg }}
    		</div>
    	{% endfor %}
    {% endblock errors %}

    {% block container %}
      <h1>Contents here!</h1>
      <p>Use this document as a way to quick start any new project.<br>
      All you get is this message and a barebones HTML document.</p>
	{% endblock container %}
    </div> <!-- /container -->
    <script src="{{ STATIC_URL }}bootstrap-2.0.4/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-2.0.4/js/bootstrap.js"></script>
  </body>
</html>
