{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
</head>
<body>

	<!--
	{ % block extra_navbar % }
	{ % endblock extra_navbar % }
	-->

	{% block container %}
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Status</th>
				<th>Item</th>
				<th>Text</th>
			</tr>
		</thead>
		<tbody>
			{% for item, status in status_list %}
			<tr>
				<td>
					{% if status == 'error' %}
						<span class="label label-important">error</span>
					{% else %}
						<span class="label label-success">ok</span>
					{% endif %}
				</td>
				<td>
					{{ item }}:
				</td>
				<td>
					{{ status }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endblock container %}

</body>
</html>
